__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.log

queuectl.db
*.sqlite3
*.db


.pytest_cache/
.coverage
htmlcov/
.cache/

build/
dist/
*.egg-info/
.eggs/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.pid
*.tar
*.log
docker-compose.override.yml

.DS_Store
Thumbs.db

data/
queuectl-data/
